* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    font-family: "Lato", sans-serif;
}

.nav-bar {
    color: #fff;
    background-color: #f44336;
    text-align: left;
    font-size: 18px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.top-bar {
    white-space: normal;
    width: auto;
    border: none;
    outline: 0;
    color: #fff;
    background-color: #f44336;
    float: right;
    padding: 12px 24px;
    font-size: 18px;
    user-select: none;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    display: none;

}

.home {
    white-space: normal;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    color: #000;
    background-color: #fff;
    padding: 12px 24px;
    user-select: none;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;


}

.home:hover {
    background-color: #ccc;
}

.link {
    white-space: normal;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    padding: 12px 24px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    font-size: 18px;

}

.link:hover {
    color: #000;
    background-color: #fff;
}

.nav-bar-1 {
    display: none;
}

.container {
    font-family: "Lato", sans-serif;
    color: #fff;
    background-color: #f44336;
    text-align: center;
    display: block;

}

h1 {
    font-family: "Montserrat", sans-serif !important;
    font-weight: 400;
    margin: 10px 0;
    font-size: 36px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 0;
}

.start-page {
    margin: 16px;
    font-size: 64px;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

.template {
    font-size: 24px !important;
    font-family: "Lato", sans-serif;
    text-align: center;
    font: 15px;
}


p {
    display: block;
    font-family: "Lato", sans-serif !important;
    text-align: justify;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.btn {
    color: #fff;
    background-color: #000;
    padding: 12px 24px !important;
    margin-top: 16px !important;
    font-size: 18px !important;
    user-select: none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: "Montserrat", sans-serif;
}

.button {
    font-family: "Montserrat", sans-serif;
    -webkit-text-size-adjust: 100%;
    text-transform: none;
    margin: 0;
    font: inherit;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
}

h5 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 18px;
    padding: 0;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.text {
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: "Lato", sans-serif;
}

.text-grey {
    color: #757575;
    text-align: inherit !important;
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.icon {
    text-align: center;
    float: left;
    font-size: 200px;

}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    white-space: normal;
    color: #fff;
    user-select: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
}

.bottom-container {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    padding: 0.01em 16px;
    font-family: "Lato", sans-serif;
}

.bottom-content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.two-third {
    float: left;
    width: 66.66666%;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 64px !important;
}

.icon {
    text-align: center !important;
    float: left;
    width: 33.33333%;
}

.text {
    padding-top: 32px !important;
    padding-bottom: 32px !important
}

.fa-anchor {
    font-size: 200px;
    color: #f44336 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.bottom-second {
    color: #000 !important;
    background-color: #f1f1f1 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    padding: 0.01em 16px;
    content: "";
    display: flex;
    clear: both
}

.two-third-second {
    width: 66.66666%;
    float: left;
}

.icon-two {
    text-align: center !important;
    width: 33.33333%;
    float: left;
}

.fa-coffee {
    font-size: 200px !important;
    color: #f44336 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    margin-right: 16px !important
}

.quote-bar {
    color: #fff;
    background-color: #000;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center;
    opacity: 0.60;
    padding: 0.01em 16px;

}

.quote {
    margin: 16px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

footer {
    display: block;
    font-family: "Lato", sans-serif;
}

.ftr {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center;
    opacity: 0.60;
    padding: 0.01em 16px;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;

}

.footer-icon {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 24px !important;
    text-align: center;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
}

.ICON {
    color: #000;
}

.ICON:hover {
    color: #616161;
}

.powered {
    text-align: center;
}

@media only screen and (max-width:601px) {
    .link {
        display: none;
    }

    .top-bar {
        display: block;

    }

    .two-third {
        width: 100%;
    }

    .icon {
        width: 100%;
    }

    .icon-two {
        width: 100%;
    }

    .two-third-second {
        width: 100%;
    }
}